/*
Author       : Dreambuzz
Author  Uri  : 
Template Name: Promotal-DigitalMArketing Agnecy
Version      : 1.0                                          
*/

/*---------------

 1. Global Styles
 2. Navigation and Logo Section
 3. Hero Section
 4. service Section
 5. Services Section
 6. Team Section
 7. Parallax Section
 8. Price Rate Chart Section
 9. Clients Section
 10. Testimonials Section
 11. Contact Section
 12. Footer Section
 13. Back to Top
 14. TYPOGRAPHY STYLES
 15. Responsive Styles CSS
---------------------------*/

/*---------- 1. Global Styles ----------*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Poppins:400,700,800');
html {
    overflow-x: hidden;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    color: #666;
    background-color: #fff;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    opacity: .9;
}



:focus {
    outline: none;
}

a {
    color: #444;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

a.highlight:hover {
    color: #aeaeae;
}

section {
    background-position: center center;
    background-size: cover;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

p {
    font-size: 15px;
    line-height: 24px;
}


/*---------- TYPOGRAPHY ----------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #232323;
    font-family: 'Poppins', sans-serif;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.2;
}

h2 {
    line-height: 1.2;
}

h3 {
    font-size: 22px;
    line-height: 33px;
}

h4 {
    font-size: 18px;
    line-height: 28px;
}

h5 {
    font-size: 14px;
    line-height: 24px;
}



/*--------- SEction Heading ----------- */

.seperator {
    width: 50px;
    height: 3px;
    margin: 20px auto 0px;
    background: #54ACF6;
    margin-bottom: 25px;
}

section {
    padding: 80px 0px;
}

.heading {
    text-align: center;
}

.heading p {
    margin-top: 20px;
}



@media (max-width: 1200px) {
    .h5-lg {
        font-size: 17px;
    }
    .h1-xl {
        font-size: 85px;
        letter-spacing: -2px;
    }
    .h1-lg {
        font-size: 85px;
    }
    .h1-md {
        font-size: 70px;
    }
    .h2-lg {
        font-size: 50px;
        letter-spacing: normal;
    }
}

@media (max-width: 992px) {
    .lead.h5-md {
        font-size: 16px;
    }
    .h2-lg {
        font-size: 30px;
        letter-spacing: normal;
    }
    .h1-xl {
        font-size: 50px;
        letter-spacing: -1px;
    }
    .h1-lg,
    .h1-md,
    .h1-sm {
        font-size: 40px;
    }
    .h2-md {
        font-size: 35px;
    }
}


/*---------- Background Colors ----------*/

.bg-black {
    background-color: #000;
}

.bg-dark {
    background-color: #0f1113;
}

.bg-gray {
    background-color: #f8f8f8;
}

.bg-white {
    background-color: #fff;
}

.bg-info {
    background-color: #0363cd !important;
}


/*---------- BUTTONS ----------*/

.btn {
    font: 600 10.5px/1;
    display: inline-block;
    /*    padding: 14px 27px 14px 27px;*/
    padding: 14px 48px 14px 48px;
    text-transform: uppercase;
    border: 1px solid transparent;
    -webkit-transition: all .2s;
    transition: all .2s;
    border-radius: 0px;
}

.btn:focus,
.btn:active,
.btn:active:focus {
    outline: none;
    box-shadow: none;
}

.btn-hero,
.btn-white:hover {
    color: #fff;
    background: #9757ea;
    letter-spacing: 1px;
}

.btn-hero:focus {
    color: #fff;
}

.btn-black,
.btn-hero:hover {
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.btn-black:hover {
    color: #fff;
    background-color: rgba(190, 208, 148, 0.8);
}

.btn-black:focus {
    color: #fff;
}

.btn-white {
    background-color: rgba(255, 255, 255, .95);
    color: rgba(0, 0, 0, .85);
    border-color: rgba(255, 255, 255, .12);
}

.btn-white:focus {
    color: #000;
}

.btn-white:active {
    color: #fff;
}

.btn-trans-black {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .15);
    color: rgba(0, 0, 0, .85);
    letter-spacing: 1px;
}

.btn-trans-black:hover {
    color: rgba(255, 255, 255, 1);
    background-color: #000;
    font-weight: 500;
}

.btn-trans-white {
    background-color: transparent;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, .15);
    color: rgba(255, 255, 255, .95);
    letter-spacing: 1.5px;
}

.btn-trans-white:hover {
    background-color: rgba(255, 255, 255, .95);
    color: rgba(0, 0, 0, .85);
    border-color: rgba(255, 255, 255, .12);
}

.btn-trans-white:active,
.btn-trans-white:focus {
    color: #fff;
    background-color: transparent;
    border-color: rgba(255, 255, 255, .12);
}

.btn-p-gray {
    text-decoration: underline;
    color: #fff;
}

.btn-p-gray:hover {
    text-decoration: underline;
    color: #3F7130;
}

.btn-rounded {
    border-radius: 4px;
    padding: 17px 32px 17px 32px;
}

.btn-circled {
    border-radius: 25px;
}

.btn-fullwidth {
    width: 100%;
}

.btn i {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.btn:hover i {
    padding-left: 10px;
}






.btn-trans-black:hover {
    background: #28a745 !important;
}


/*---------- SPACING SHORTCODES ----------*/

.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

/*-- Padding --*/

.p0 {
    padding: 0px
}

.p5 {
    padding: 5px
}

.p10 {
    padding: 10px
}

.p15 {
    padding: 15px
}

.p20 {
    padding: 20px
}

.p30 {
    padding: 30px
}

.p40 {
    padding: 40px
}

.p50 {
    padding: 50px
}

.p60 {
    padding: 60px
}

.p70 {
    padding: 70px
}

.p80 {
    padding: 80px
}

.p90 {
    padding: 90px
}

.p100 {
    padding: 100px
}

.p110 {
    padding: 110px
}

.p120 {
    padding: 120px
}

.p130 {
    padding: 130px
}

.p140 {
    padding: 140px
}

.p150 {
    padding: 150px
}

/*-- Padding Top --*/

.pt0 {
    padding: 0px
}

.pt5 {
    padding-top: 5px
}

.pt10 {
    padding-top: 10px
}

.pt15 {
    padding-top: 15px
}

.pt20 {
    padding-top: 20px
}

.pt30 {
    padding-top: 30px
}

.pt40 {
    padding-top: 40px
}

.pt50 {
    padding-top: 50px
}

.pt60 {
    padding-top: 60px
}

.pt70 {
    padding-top: 70px
}

.pt80 {
    padding-top: 80px
}

.pt90 {
    padding-top: 90px
}

.pt100 {
    padding-top: 100px
}

.pt110 {
    padding-top: 110px
}

.pt120 {
    padding-top: 120px
}

.pt130 {
    padding-top: 130px
}

.pt140 {
    padding-top: 140px
}

.pt150 {
    padding-top: 150px
}

/*-- Padding Bottom --*/

.pb0 {
    padding-bottom: 0px
}

.pb5 {
    padding-bottom: 5px
}

.pb10 {
    padding-bottom: 10px
}

.pb15 {
    padding-bottom: 15px
}

.pb20 {
    padding-bottom: 20px
}

.pb30 {
    padding-bottom: 30px
}

.pb40 {
    padding-bottom: 40px
}

.pb50 {
    padding-bottom: 50px
}

.pb60 {
    padding-bottom: 60px
}

.pb70 {
    padding-bottom: 70px
}

.pb80 {
    padding-bottom: 80px
}

.pb90 {
    padding-bottom: 90px
}

.pb100 {
    padding-bottom: 100px
}

.pb110 {
    padding-bottom: 110px
}

.pb120 {
    padding-bottom: 120px
}

.pb130 {
    padding-bottom: 130px
}

.pb140 {
    padding-bottom: 140px
}

.pb150 {
    padding-bottom: 150px
}

/*-- Margin Auto --*/

.m-auto {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

/*-- Margin --*/

.m0 {
    margin: 0px
}

.m5 {
    margin: 5px
}

.m10 {
    margin: 10px
}

.m15 {
    margin: 15px
}

.m20 {
    margin: 20px
}

.m30 {
    margin: 30px
}

.m40 {
    margin: 40px
}

.m50 {
    margin: 50px
}

.m60 {
    margin: 60px
}

.m70 {
    margin: 70px
}

.m80 {
    margin: 80px
}

.m90 {
    margin: 90px
}

.m100 {
    margin: 100px
}

.m110 {
    margin: 110px
}

.m120 {
    margin: 120px
}

.m130 {
    margin: 130px
}

.m140 {
    margin: 140px
}

.m150 {
    margin: 150px
}

/*-- Margin Top --*/

.mt0 {
    margin-top: 0
}

.mt5 {
    margin-top: 5px
}

.mt10 {
    margin-top: 10px
}

.mt15 {
    margin-top: 15px
}

.mt20 {
    margin-top: 20px
}

.mt30 {
    margin-top: 30px
}

.mt40 {
    margin-top: 40px
}

.mt50 {
    margin-top: 50px
}

.mt60 {
    margin-top: 60px
}

.mt70 {
    margin-top: 70px
}

.mt80 {
    margin-top: 80px
}

.mt90 {
    margin-top: 90px
}

.mt100 {
    margin-top: 100px
}

.mt110 {
    margin-top: 110px
}

.mt120 {
    margin-top: 120px
}

.mt130 {
    margin-top: 130px
}

.mt140 {
    margin-top: 140px
}

.mt150 {
    margin-top: 150px
}

/*-- Margin Bottom --*/

.mb0 {
    margin-bottom: 0
}

.mb5 {
    margin-bottom: 5px
}

.mb10 {
    margin-bottom: 10px
}

.mb15 {
    margin-bottom: 15px
}

.mb20 {
    margin-bottom: 20px
}

.mb30 {
    margin-bottom: 30px
}

.mb40 {
    margin-bottom: 40px
}

.mb50 {
    margin-bottom: 50px
}

.mb60 {
    margin-bottom: 60px
}

.mb70 {
    margin-bottom: 70px
}

.mb80 {
    margin-bottom: 80px
}

.mb90 {
    margin-bottom: 90px
}

.mb100 {
    margin-bottom: 100px
}

.mb110 {
    margin-bottom: 110px
}

.mb120 {
    margin-bottom: 120px
}

.mb130 {
    margin-bottom: 130px
}

.mb140 {
    margin-bottom: 140px
}

.mb150 {
    margin-bottom: 150px
}

/*-- Margin Left --*/

.ml0 {
    margin-left: 0
}

.ml5 {
    margin-left: 5px
}

.ml10 {
    margin-left: 10px
}

.ml15 {
    margin-left: 15px
}

.ml20 {
    margin-left: 20px
}

.ml30 {
    margin-left: 30px
}

.ml40 {
    margin-left: 40px
}

.ml50 {
    margin-left: 50px
}

.ml60 {
    margin-left: 60px
}

.ml70 {
    margin-left: 70px
}

.ml80 {
    margin-left: 80px
}

.ml90 {
    margin-left: 90px
}

.ml100 {
    margin-left: 100px
}

.ml110 {
    margin-left: 110px
}

.ml120 {
    margin-left: 120px
}

.ml130 {
    margin-left: 130px
}

.ml140 {
    margin-left: 140px
}

.ml150 {
    margin-left: 150px
}

/*-- Margin Right --*/

.mr0 {
    margin-right: 0
}

.mr5 {
    margin-right: 5px
}

.mr10 {
    margin-right: 10px
}

.mr15 {
    margin-right: 15px
}

.mr20 {
    margin-right: 20px
}

.mr30 {
    margin-right: 30px
}

.mr40 {
    margin-right: 40px
}

.mr50 {
    margin-right: 50px
}

.mr60 {
    margin-right: 60px
}

.mr70 {
    margin-right: 70px
}

.mr80 {
    margin-right: 80px
}

.mr90 {
    margin-right: 90px
}

.mr100 {
    margin-right: 100px
}

.mr110 {
    margin-right: 110px
}

.mr120 {
    margin-right: 120px
}

.mr130 {
    margin-right: 130px
}

.mr140 {
    margin-right: 140px
}

.mr150 {
    margin-right: 150px
}


.f-normal {
    font-weight: normal;
}

/*---------- COLORS ----------*/

/*-- Background Colors --*/

.bg-black {
    background-color: #000;
}

.bg-dark {
    background-color: rgba(0, 0, 0, .96);
}

.bg-primary {
    background-color: #0db8ca;
}

.bg-gray {
    background-color: #f2f4ec;
}

.bg-white {
    background-color: #fff;
}

/*---------- 23. Owl Carousel ----------*/

.owl-carousel .owl-item {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.owl-carousel .owl-item:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.owl-dot {
    display: inline-block;
    padding: 3px;
}

.owl-theme .owl-controls .owl-dot span {
    width: 5px;
    height: 5px;
    margin: 3px;
    display: block;
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    box-shadow: none;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

.owl-theme .owl-controls .owl-dot.active span {
    background: rgba(255, 255, 255, 0.8);
}

.owl-item {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
}

/*---------------------------------*/

/*---------------------------------
   NAVIGATIO MENU 
---------------------------------*/

.site-navigation {
    background: #fff;
    border-bottom: 1px solid#eee;
}


.site-navigation .navbar-nav {
    padding: 12px 0px;
}


.navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    color: #111;
    font-size: 18px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active {
    color: #28a745;
}

.top-nav-collapse {
    background: #fff;
}

/* Top Social Navigation Bar*/

.top-social ul {
    margin: 10px 0px;
}


.top-social ul li {
    padding: 5px;
}

.top-social ul li a i {
    background: #000;
    color: #fff;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    padding-top: 7px;
    border-radius: 100%;
}

.top-social ul li:nth-child(1) a i {
    background: #3b5999;
}

.top-social ul li:nth-child(2) a i {
    background: #ea4c89;
}

.top-social ul li:nth-child(3) a i {
    background: #0077B5;
}

.top-social ul li:nth-child(4) a i {
    background: #0363cd;
}


.top-social ul li:nth-child(5) a i {
    background: #dd4b39;
}

.pt0 {
    padding-top: 0px;
}

/* Dropdown */

.dropdown-menu {
    position: relative;
    -webkit-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}

.dropdown {
    -webkit-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}


.dropdown:hover > .dropdown-menu {
    display: block;
}



@media (min-width: 768px) {

    ul.nav li.dropdown:hover ul.dropdown-menu {
        display: block;
    }
    ul.nav li.dropdown:hover ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu {
        display: none;
    }

    ul.nav li.dropdown ul.dropdown-menu li.dropdown-submenu:hover ul.dropdown-menu {
        display: block;
    }
}

.dropdown-menu {
    text-align: left;
    background: #111;
    z-index: 100;
    min-width: 200px;
    border-radius: 0;
    border: 0;
}


.navbar-nav > li > .dropdown-menu a {
    background: none;
    color: #ddd;
    font-size: 14px;
}


.dropdown-menu li:last-child > a {
    border-bottom: 0;
}



/*---------------------------------
 BANNER STYLE #3
-----------------------------*/

.imagebanner {
    position: relative;
    background: url("../img/banner/bg-1.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

.imagebanner2 {
    position: relative;
    background: url("../img/banner/bg-3.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

.feature-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #28a745;
    opacity: .9;
}

.dark-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #111;
    opacity: .6;
}



.carousel-indicators li {
    background: #000;
    width: 20px;
}

.carousel-indicators .active {
    background: red;
}




.circled {
    border-radius: 35px;
}


/*----------------------------------------
  Banner content
-----------------------------------------*/

.main-banner {
    position: relative;
    background: url("../images/slider/bg-1.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

.main-banner2 {
    position: relative;
    background: url("../images/slider/slider-3.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

.content-padding {
    padding: 200px 0px;
}


.banner-content {
    text-align: center;
}

.banner-content h1 {
    font-size: 60px;
    text-transform: none;
    line-height: 60px;
    font-family: "Poppins", sans-serif;
}

.banner-content h1 span {
    text-decoration: underline;
}

.banner-content p {
    width: 70%;
    margin: 15px auto 30px;
}

.white h1,
.white h2,
.white h3,
.white p {
    color: #fff;
}



/*-------------------------------
  TOP FEATURES 
----------------------------------*/

#top-features {
    padding-bottom: 0px;
}

.top-feature-bg {
    width: 100%;
    background: #fff;
    float: left;
    margin-top: -180px;
    position: relative;
    padding: 30px;
}


.feature-box {
    position: relative;
    padding-left: 80px;
    background: #eee;
    padding: 30px 30px 20px 80px;
}

.feature-icon {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 32px;
    color: #333;
}

.feature-box p {
    color: #999;
}

/*----------------------------------
     ABOUT STYLES
---------------------------------------*/

#about {}

.about-list {
    margin-top: 30px;
}

.about-list li .about-icon {
    color: #28a745;
    position: absolute;
    left: 30px;
    top: 0px;
}

.about-list li {
    font-size: 20px;
    margin-bottom: 25px;
    position: relative;
    padding-left: 70px;
}

.about-list li:last-child {
    margin-bottom: 0px;
}



.about-list p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-img {
    margin-bottom: 15px;
}

.about-img img {
    border-radius: 15px;
    border: 5px solid#eee;
}

.read-more {
    font-size: 14px;
    color: #28a745;
}

.read-more i {
    margin-left: 5px;
}


.about-feature h2 {
    margin-bottom: 10px;
}

.about-feature ul {
    margin-top: 30px;
}

.about-feature ul li {
    margin-bottom: 20px;
}

.about-feature ul li p {
    padding-right: 60px;
    margin-top: 5px;
}

.about-feature ul li h3 {
    margin-bottom: 0px;
    font-size: 18px;
}

.about-feature ul li h3 span {
    margin-right: 20px;
    color: #000;
    width: 30px;
}

.about-feature ul li:last-child {
    margin-bottom: 40px;
}




.about-btn {
    margin-top: 40px;
    background: #28a745;
    padding: 40px;
}

.about-btn h3,
.about-btn p {
    color: #fff !important;
}

.about-btn .btn {
    margin-top: 10px;
}


/* HEADING LEFT 
-----------------------------*/

.heading-left {
    margin-bottom: 60px;
}

.heading-left h2 {
    font-weight: 300;
    margin-bottom: 5px;
}

.heading-left h2 span {
    font-weight: 700;
    display: block;
}

.heading-left p.lead {
    color: #28a745 !important;
}


.section-heading {
    margin-bottom: 80px;
}

.section-heading p.lead {
    letter-spacing: 2px;
}

.seperator {
    position: relative;
    background: #28a745;
}

.btn-primary {
    background: #005c97;
}

/*----------------------------------
     SERVICES STYLES
---------------------------------------*/

#services {
    padding-bottom: 50px;
}

.service-box {
    position: relative;
    padding-left: 85px;
    margin-bottom: 50px;
}

.service-icon {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 60px;
    color: #005c97;
}

.service-box p {
    margin-top: 15px;
    color: #222;
}

.service-box h4 {
    color: #005c97;
    font-weight: 600;
}


/*------------------------
 PRICING PLAN
--------------------------*/

.pricing-box {
    text-align: center;
    padding: 70px 15px 70px;
    border: 1px solid#eee;
    -webkit-box-shadow: 0px 20px 35px rgba(0, 0, 0, .1);
    box-shadow: 0px 20px 35px rgba(0, 0, 0, .1);
    -webkit-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
    background: #fff;
}

.pricing-box h4 {
    margin-bottom: 5px;
}

.price {
    display: block;
    font-size: 50px;
    line-height: 70px;
    color: #005c97;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
}

.price sup {
    font-weight: 400;
}

.pricing-box ul li {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: #999999;
    font-weight: 400;
    margin-bottom: 15px;
}

.pricing-box ul {
    margin-bottom: 40px;
}

.pricing-box ul li span {
    color: #111;
}




/*----------------------------------
     REVIEWS STYLES
---------------------------------------*/

#review {
    background: url("../images/slider/8.jpg") fixed 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.review-content {
    text-align: center;
}

.review-content p {
    margin-top: 15px;
}

.client-review-img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.client-review-img img {
    border-radius: 100%;
    border: 5px solid#fff;
}

.review-content,
.review-content h3 {
    color: #fff;
}

.owl-carousel button.owl-dot {
    background: #fff;
    border-radius: 5px;
    margin-right: 5px;
}

.owl-theme .owl-dots .owl-dot span {
    background: #000;
}


/*----------------------------------
     BLOG STYLES
---------------------------------------*/

.blog-img {
    float: left;
}

.blog-img img {
    border-radius: 5px;
}

.blog-content h4 {
    margin-bottom: 20px;
    color: #000;
}

.blog-cat li {
    font-size: 14px;
}



/*----------------------------------
     CONTACT STYLES
---------------------------------------*/

.contact-info p {
    margin-top: 15px;
}

.contact-info li {
    padding: 10px 0px;
}

.contact-info li i {
    width: 40px;
    text-align: center;
    font-size: 22px;
    color: #005c97;
}

.contact-form {
    padding: 70px;
    -webkit-box-shadow: 0px 20px 35px rgba(0, 0, 0, .1);
    box-shadow: 0px 20px 35px rgba(0, 0, 0, .1);
    margin-bottom: -184px;
    width: 100%;
    background: #fff;
}

.contact-form h4 {
    margin-bottom: 20px;
}




/*--------------------------------
  FOOTER STYLES
-------------------------------*/

.footer-color {
    background: #005c97;
}

.footer-menu {
    float: right;
    padding-top: 110px;
}

.footer-menu ul li {
    float: left;
    margin-right: 10px;

}

.footer-menu ul li a {
    color: #fff;
    font-weight: 700;
}

#main-footer {
    padding: 70px 0px 50px;
}

#main-footer hr {
    margin: 40px 0px;
}

.footer-color .footer-logo p,
.footer-color .footer-btm p {
    color: #fff;
}

.footer-color .footer-btm p span {
    color: #fff;
    font-weight: 700;
}

.footer-color hr {
    border-color: #0069d9;
}



/* footer 2 styles*/

.footer-menu2 li a {
    transition: all 900ms ease;
}

.footer-menu2 li {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.footer-menu2 li:hover a {
    padding-left: 10px;
}

.footer-btm span {
    color: #005c97;
}


/* ------------------------------------
  HOME SLIDER2  STYLES
-------------------------------------*/

.slider-1 {
    position: relative;
    background: #28a745;
}

.slider-2 {
    position: relative;
    background: #F26744;
}

.slider-3 {
    position: relative;
    background: #005c97;
}

.slider-content {
    padding: 180px 0px 150px;
}

.slider-content h1 {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}

.slider-content p {
    margin: 20px 0px 40px;
}




.banner-content-img {
    padding-top: 120px;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 0;
}

.carousel-control-next span,
.carousel-control-prev span {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 100%;
    color: #444;
    font-size: 21px;
    padding-top: 20px;

}

#banner-slider:hover .carousel-control-next,
#banner-slider:hover .carousel-control-prev {
    opacity: 1;
}


.carousel-control-prev {
    left: -40px;
}

.carousel-control-next {
    right: -40px;
}


/*----------------------------------
  TRANSPARENT NAV
--------------------------------*/

.trans-nav {
    padding: 20px 0px;
}

.trans-nav .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
}


.header-white {
    background: #fff;
}

.header-white .navbar-nav .nav-link {
    color: #222;
}

.trans-nav .logo-main {
    display: none;
}


.navbar.navbar-expand-lg.trans-nav.fixed-top.header-white .logo {
    display: none;
}

.navbar.navbar-expand-lg.trans-nav.fixed-top.header-white .logo-main {
    display: block;
}


/*--------------------------------------
  BANNER SLIDER STYLES
-------------------------------------------*/

.slider1 {
    position: relative;
    background: url("../images/slider/slider-1.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

.slider2 {
    position: relative;
    background: url("../images/slider/slider-2.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

.slider3 {
    position: relative;
    background: url("../images/slider/slider-3.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}



/*----------------------------------
     EXTRA PAGE STYLES
---------------------------------------*/

.page-banner {
    position: relative;
    padding: 170px 0px 70px;
    background: url("../images/slider/8.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

.page-content {
    text-align: center;
}


.page-content h2 {
    color: #fff;
}

.page-content p.lead {
    color: #eee !important;
    letter-spacing: 2px;
}





/*----------------------------------
     CONTACT PAGE STYLES
---------------------------------------*/

.info-box {
    padding: 40px;
}

.contact-form2 {
    padding: 40px;
    border: 1px solid#eee;
}

.contact-form2 h4 {
    margin-bottom: 20px;
}

.contact-form2 .form-control {
    border-radius: 0px;
}




/*-------------------------------------
 BLOG HTML STYLES
-----------------------------------*/

.mb-30 {
    margin-bottom: 30px;
}

.big-blog-desc img {
    margin-bottom: 30px;
}


.blog-pagination {
    margin: 20px 0px 40px;

}

.blog-pagination ul {
    border: 0px;
}


/* Blog Right Sidebar styles*/

.about-author {
    padding: 40px 20px;
}

.about-author img {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.about-author h4 {
    margin-bottom: 15px;
    color: #fff;
}

.author-social {
    text-align: center;
    margin-top: 15px;
}

.author-social li {}

.author-social li i {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #fff;
    text-align: center;
    padding-top: 4px;
}




/*     Recent Post */

.right-widget {
    margin-top: 30px;
}

.right-widget h4 {
    margin-bottom: 20px;
}

.recent-news li {
    clear: both;
    margin: 26px 0px;
    float: none;
    display: block;
}

.small-img {
    float: left;
    margin-right: 15px;
}


.news-small span {
    font-size: 14px;
    margin-bottom: 5px;
    color: #005c97;
}

.news-small h4 {
    font-size: 16px;
}


/* Subscribe Blog Sidebar */

.sub-form {
    text-align: center;
    padding: 60px 30px;
    background: #eee;
    margin-top: 30px;
}


.sub-form h3 {
    color: #005c97;
}

.sub-form input {
    margin: 30px 0px;
}

.sub-form .form-control {
    border-radius: 0px;
}


/* POPULAR CATEGORY Blog Sidebar */

.widget_categories ul li::before {
    position: absolute;
    left: 0;
    top: 17px;
    background-color: #005c97;
    content: '';
    float: left;
    width: 5px;
    height: 5px;
}

.widget_categories ul li a {
    float: left;
}

.widget_categories ul:not(.children) > li {
    position: relative;
    content: "";
    display: table;
    table-layout: fixed;
    width: 100%;
}

.widget_categories ul li {
    padding: 5px 0;
    padding-left: 0px;
    padding-left: 20px;
    transition: .3s;
    text-align: right;
    position: relative;
}

/* TAGS Blog Sidebar */

.tags a {
    display: inline-block;
    margin: 0 5px 10px;
    vertical-align: top;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #777;
    font-size: 12px;
}


.tags a:hover {
    background: #000;
    color: #fff;
    border-color: #000;
}

/* ------------------------------------
    BLOG SINGLE PAGE STYLES
-------------------------- */

.blog-single-content img {
    margin-bottom: 20px;
}

.tagcloud {
    margin-top: 30px;
}

.tagcloud a::before {
    position: absolute;
    left: 13px;
    top: 0;
    content: "\f02b";
    font-size: 17px;
    font-family: 'FontAwesome';
    transform: rotate(0.001deg);
}

.tagcloud a {
    position: relative;
    display: block;
    height: 32px;
    padding: 0 13px 0 31px;
    margin: 0 4px 4px 0;
    float: left;
    color: #fff;
    background-color: #28a745 !important;
    font-size: 12px !important;
    text-transform: uppercase;
    line-height: 34px;
    transition: all .3s;
}


/* COMMENT RSECTION */

#respond {
    margin-bottom: 60px;
    margin-top: 30px;
}

#respond p label,
#respond p label + .required {
    display: block;
    margin-right: 8px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

#respond p label {
    font-size: 13px;
    color: #222;
}

#author,
#email,
#url {
    width: 50%;
    height: 42px;
    clear: both;
}

#author,
#email,
#url,
#comment {
    color: #bbb;
    padding-left: 10px;
    margin-bottom: 18px;
    border: 1px solid #EAEAEA;
    background-color: #FBFBFB;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    transition: all .3s;
}



.blog-quote i {
    display: block;
    margin-bottom: 20px;
}

.blog-quote {
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #000;
    padding: 50px 80px;
}

.blog-single-content h3 {
    margin: 15px 0px;
}


/* AUTHOR AREA BLOG SINGLE*/

.author-area {
    margin: 70px 0px 0px;
    background: #eee;
    padding: 30px;
}

.author-area .author-img {
    float: left;
    margin-right: 30px;
}

.author-area .author-img img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.author-info h4 {
    margin-bottom: 10px;
    color: #000;
}

.author-social-link a {
    margin-right: 10px;
    font-size: 18px;
    color: #000;
}

.contact-form2 #email {
    width: 100%;
}